@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet');
//@import url('http://allfont.ru/allfont.css?fonts=open-sans-semibold');

@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 400;
}
